body {
    background: ivory;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
}

footer {
    background-color: white;
    border-radius: 25px;
    color: blue;
    border-color: blue ;
    padding: 10px 20px;
   
}
