body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eaf3ff;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100;
}

.signup-page {
  width: 150px;
}

header h1 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 10px; 
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #357bd8;
}












